@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'primary';
    src: url('/assets/fonts/elegant_typewriter/ELEGANT TYPEWRITER Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primary';
    src: url('/assets/fonts/elegant_typewriter/ELEGANT TYPEWRITER Light.ttf') format('truetype');
    font-weight: auto;
    font-style: normal;
}
@font-face {
    font-family: 'primary';
    src: url('/assets/fonts/elegant_typewriter/ELEGANT TYPEWRITER Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'primary';
    src: url('/assets/fonts/elegant_typewriter/ELEGANT TYPEWRITER Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}